@import "./variables";

[data-anim-name="fade-in-up"] {
  opacity: 0;
  transform: translateY(30%);
}

@keyframes fade-in-up {
  to {
    opacity: 1;
    transform: revert;
  }
}

@keyframes svg-path-down {
  to {
    stroke-dashoffset: revert;
  }
}
